[submodule "SFTP"]
	path = SFTP
	url = https://github.com/karelia/libssh2_sftp-Cocoa-wrapper.git
[submodule "DAVKit"]
	path = DAVKit
	url = https://github.com/karelia/DAVKit.git
[submodule "CurlHandle"]
	path = CurlHandle
	url = https://github.com/karelia/CurlHandle.git
